/* main.scss */
@import "override-variables";

@import "bootstrap-custom";
@import "bootstrap/theme";

body {
	background-color: #f1f2f7;
}

.coffee-container {
	width: 50%;
	margin: 0 auto;

	@media screen and (max-width: $screen-sm) {
		width: 90%;
	}
}

#vis {
	margin-top: 4em;
	width: 100%;
}

.bar {
  fill: steelblue;
  transition: all 0.2s ease-in-out;
}

.bar:hover {
  fill: darken(steelblue, 10%);
}

.axis--x path {
  // display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
